.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 74px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 569px;
  margin: 26px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}